*.log
*.orig
.htaccess
.DS_Store
.sass-cache/
node_modules/
tags
wp-config.php
w3tc-config/
sitemap.xml
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/db.php
wp-content/cache/
wp-content/blogs.dir/
wp-content/uploads/
wp-content/plugins/replace-uploads.php